body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #f4f4f4;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: #2c3e50;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
}


.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #34495e;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #e67e22; 
}