body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #777;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.img1 {
    background-image: url('https://cdn.royalcanin-weshare-online.io/HiJiPmYBaxEApS7LmAfe/v1/ed7a-how-to-buy-a-puppy-article-dog');
}

.img2 {
    background-image: url('https://www.petangel.com.au/wp-content/uploads/2020/07/Pet-Angel-Blog-2020-2-1080x648.png');
}


.caption {
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: rgba(255, 255, 255, 0.7);
    color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.black-section {
    color: #ddd;
    background-color: #000;
    padding: 100px 80px;
    text-align: center;
}

.black-section h3 {
    letter-spacing: 3px;
    text-transform: uppercase;
}